@font-face {
  font-display: swap;
  font-family: "vieren-type-regular";
  src: url("/fonts/vieren-type-regular-webfont.woff2") format("woff2"),
    url("/fonts/vieren-type-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
