@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --page-margin: calc(1 / 30 * 100vw);

  --padding-margin: calc((1 / 30 * 100vw) / 2);
  --padding-card: calc(1 / 24 * 100%);

  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #4d4d4d;
  --color-red: #e02020;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
