@import "tailwindcss";

.site-header__nav-link-text, .site-header__nav-btn-text  {
  @apply text-[12px] tracking-[0.75px] text-center font-normal font-[Lato,sans-serif] uppercase;
}

.site-header__nav-link, .site-header__nav-btn {
  @apply relative bg-transparent after:content-[''] after:absolute after:left-0 after:w-0 after:bg-current after:transition-[width] after:duration-500 hover:after:w-full cursor-pointer;
}


@theme {

  --animate-slide-loop: slide-left 10s linear infinite;

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    25% {
      transform: translateX(100%);
    }
    33.33% {
      transform: translateX(0);
    }
    58.33% {
      transform: translateX(0);
    }
    66.66% {
      transform: translateX(-100%);
    }
    91.66% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}